:root {
  --primary-color: #0c0c23;
  --bg-color: #f9f7f5;
  --secondary-color: #fedb79;
}

body,
h1,
h2,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: var(--bg-color);
  color: var(--primary-color);
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 130px minmax(300px, 800px) 1fr;
}

.navbar {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--secondary-color);
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  gap: 10px;
}

.navbar li a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  color: #0c0c23;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
}

.nav-link {
  position: relative;
}

.nav-link::before {
  content: "";
  width: 0;
  height: 2px;
  display: inline-block;
  position: absolute;
  background: var(--primary-color);
  bottom: 0;
  transition: all 0.3s !important;
}

.nav-link:hover::before {
  width: 80%;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 100px 300px 1fr;
  gap: 20px;
  margin-bottom: 4rem;
}

.title {
  font-family: "Della Respira", Georgia, "Times New Roman", Times, serif;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.animals-description h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.animals-description h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: var(--secondary-color);
}

.animals-description p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.animals-list {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.animals-list img {
  transition: 0.2s;
  cursor: pointer;
}

.animals-list img:hover {
  opacity: 0.9;
}

.animals-list::-webkit-scrollbar {
  width: 16px;
}

.animals-list::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-left: 6px solid var(--bg-color);
  border-right: 6px solid var(--bg-color);
}

.animals-list::-webkit-scrollbar-track {
  background: var(--bg-color);
}

.animals-description {
  grid-column: 3;
}

.animals-description section {
  margin-bottom: 3rem;
}

.faq-list {
  grid-column: 2 / 4;
}

.faq-list dt {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
}

.faq-list dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: var(--secondary-color);
}

.faq-list dd {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0.5rem;
  margin-left: 30px;
}

.map {
  grid-column: 2;
}

.details {
  grid-column: 3;
}

.details li {
  margin-bottom: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.details li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: var(--secondary-color);
}

.btc-rate {
  background-color: var(--secondary-color);
  padding: 0 8px;
}

.copy {
  grid-column: 3 / 5;
  margin-bottom: 2rem;
  background: var(--secondary-color);
}

.copy p {
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .navbar,
  .grid-section,
  .copy {
    grid-column: 1;
  }
  .grid-section {
    grid-template-columns: 100px 1fr;
    gap: 10px;
  }
  .animals-list {
    grid-column: 1;
  }
  .faq-list,
  .details,
  .map {
    grid-column: 1 / 3;
  }
  .grid-section h1 {
    font-size: 3rem;
  }
  .navbar {
    margin-top: 0;
  }
  .copy {
    margin-bottom: 0;
  }
}

.js [data-tab="content"] section {
  display: none;
}

[data-tab="content"] section.active {
  display: block !important;
  animation: show-right 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

[data-tab="content"] section.active.show-down {
  display: block !important;
  animation: show-down 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.js [data-anime="accordion"] dd {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s;
}

.js [data-anime="accordion"] dd > div {
  overflow: hidden;
}

[data-anime="accordion"] dt {
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

[data-anime="accordion"] dt:hover {
  opacity: 0.8;
}

[data-anime="accordion"] dt::after {
  content: "▼";
  transition: all 0.3s;
  margin-left: 10px;
  color: var(--primary-color);
  position: absolute;
  top: 2px;
}

[data-anime="accordion"] dt.active::after {
  transform: rotate(-180deg);
}

[data-anime="accordion"] dd.active {
  grid-template-rows: 1fr;
}

.js [data-anime="scroll"] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: opacity 0.3s, transform 0.8s;
}

.js [data-anime="scroll"].active {
  opacity: 1;
  transform: translate3d(0px, 0, 0);
  transition: 0.8s;
}

.js [data-week]:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 8px;
}

.js [data-week].closed:after {
  background: #e54;
  box-shadow: 0 0 0 0 rgb(238, 85, 68, 1);
  transform: scale(1);
  animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(238, 85, 68, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(238, 85, 68, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(238, 85, 68, 0);
  }
}

.js [data-week].open:after {
  background-color: #4daa57;
  box-shadow: 0 0 0 0 rgb(77, 170, 87, 1);
  transform: scale(1);
  animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(77, 170, 87, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(77, 170, 87, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(77, 170, 87, 0);
  }
}
