[data-menu="button"] {
  display: none;
}

@media (width < 700px) {
  .js [data-menu="button"] {
    display: flex;
    background: var(--primary-color);
    border: none;
    padding: 0.8rem 0.8rem;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    align-items: center;
    position: relative;
    z-index: 201;
  }

  .js [data-menu="button"]::before {
    content: "";
    display: inline-block;
    width: 1.3rem;
    height: 2px;
    background-color: var(--bg-color);
    box-shadow: 0 -5px 0 var(--bg-color), 0 5px 0 var(--bg-color);
  }

  .js #menu {
    display: none;
    position: absolute;
    z-index: 200;
    background-color: var(--secondary-color);
    width: 160px;
    padding: 60px 0 20px 0;
    top: 0;
    margin: 0;
    box-shadow: 2px 2px 2px 0 rgb(0, 0, 0, 0.2);
  }

  .js #menu a {
    margin-left: 10px;
  }

  .js #menu .nav-link:hover::before {
    width: 0;
  }

  .js #menu.active {
    display: block;
    animation: show-right 0.3s forwards;
  }

  .js .dropdown-menu {
    position: static;
    border: none;
    width: 144px;
    margin: 0;
    background-color: var(--bg-color);
    top: 35px;
  }

  .js [data-menu="button"].active::before {
    content: "";
    display: inline-block;
    width: 1.2rem;
    height: 2px;
    background-color: var(--bg-color);
    box-shadow: 0 0 0 transparent, 0 0 0 transparent;
    transition: transform 0.3s;
    position: relative;
  }

  .js [data-menu="button"].active::before {
    transform: rotate(45deg);
  }

  .js [data-menu="button"].active::after {
    content: "";
    display: inline-block;
    width: 1.2rem;
    height: 2px;
    position: absolute;
    background-color: var(--bg-color);
    animation: rotate 0.3s forwards;
  }

  @keyframes rotate {
    from {
    }
    to {
      transform: rotate(-45deg);
    }
  }
}
